@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos(as)</h1>
    <p>Actualmente contamos con el servicio de C&aacute;lculo de &Aacute;ngulos
        <br />
        Seguimos construyendo para ofertar cada vez m&aacute;s servicios
        <br />
        Buen d&iacute;a
    </p>
</div>
